<?xml version="1.0"?>
<configuration>
    <configSections>
        <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"  />
    </configSections>

    <log4net>
        <appender name="log_file" type="log4net.Appender.RollingFileAppender, log4net">
            <param name="File" value="stock-tool-" />
            <param name="AppendToFile" value="true" />
        	<param name="StaticLogFileName" value="false" />
        	<param name="RollingStyle" value="Date" />
        	<param name="DatePattern" value="yyyyMMdd&quot;.txt&quot;"/>
            <layout type="log4net.Layout.PatternLayout">
                <param name="Header" value="========================================================&#13;&#10;" />
                <param name="Footer" value="&#13;&#10;" />
                <param name="ConversionPattern" value="%m%n" /> <!-- [%d]: -->
            </layout>
        </appender>
        <root>
            <level value="info" />
            <appender-ref ref="log_file" />
        </root>
    </log4net>
</configuration>